DMFT++ solver for Hubbard-like models, as used in Master's thesis of Jonas Sweep, April 2012.

$use_minimum_MC_steps$
1

$minimum_MC_steps$
1500

$maximum_MC_steps$
80000000

$U$
5.0
Coulomb repulsion

$beta$
10.0
inverse temperature

$mu$
0
mu=0 correspondes to half-filling

$read_delta$
2

$desired_accuracy$
0.000
desired errorbar in G(\tau)

$calculate_Gamma4$
0

$number_of_Matsubara_frequencies$
100

$number_of_Matsubara_frequencies_for_Gamma4$
34
must be an even number

$output_period$
20000

$output_period_time$
60

$measure_tau_correlators$
0
measure four-point correlation functions in imaginary time, e.g. double occupancy


$use_Wang_Landau$
0 

$Use_Global_moves$
0

$Enable_cluster_updates$
0

$alpha_offdiagonal$
0.15

$number_of_kpoints_x$
24
must be larger or equal to 1

$number_of_kpoints_y$
24
must be larger or equal to 1

$number_of_kpoints_z$
1
must be larger or equal to 1

$AlphaSum$
1.0

$update_mu$
0
whether to update mu during DMFT iterations

$update_AlphaSum$
0
whether to update AlphaSum during DMFT iterations

$desired_occupancy$
1.0
desired total occupancy for all spins and orbitals

$zeta$
0.1
mixing parameter for mu/AlphaSum update

$ksi$
0.87
mixing parameter for Delta update

$ksiG$
0.9
mixing paramater for Gd update; specifies how much of !Gd_old! should be assigned, 
i.e. ksiG=0 corresponds to fully assigning Gd_new

$t$
0.25
Hopping 1-3,2-3

$t1$
0.
Hopping 1-2


$chi4_numerical_zero$
1e-10

$ek_numerical_zero$
1e-8
0 for Ek


$DMFT_sigma$
1
Added by "change"

$J$
0.6
Added by "change"

$change$
t
Added by "change"

$../change$
maximum_MC_steps
Added by "change"
