$U$
5

$J$
0.00001

$beta$
20

$density_density$
1

$desired_accuracy$
0.0001

$maximum_MC_steps$
1000000

$Use_Global_moves$
1

$use_Wang_Landau$
0

$Enable_cluster_updates$
0

$number_of_Matsubara_frequencies$
100

$mu$
0.0

$read_delta$
2

$W_group_generators$
0

$alpha_offdiagonal$
-0.15

$output_period$
2000
