DMFT procedure for a half-filled Bethe lattice
The self-consistent DMFT loop is

\cal{G}^{-1}(i w)=i w+\mu - t^2 G(i w)
S=-\sum_ {iw} c^{\dag} \cal{G}^{-1} c + \int d\tau U (n_{up}-1/2)
(n_{down}-1/2)

$mu$
0

$Delta$
0

$U$
1.0
Coulomb repulsion

$beta$
30
inverse temperature

$DOS_halfwidth$
0.00001
Radius of the semicircle for the initial DOS

coupling at Bethe lattice

$read_delta$
0
whether to read self-energy from the external file
Possible values
   0: do not read
   1: read from file "Delta.dat" the same self-energy for all zones
   2: read from file "Delta.dat" different self-energies for different zones


$desired_accuracy$
0.03
desired errorbar in G(\tau)

$Use_Global_moves$
1

$use_Wang_Landau$
0

$number_of_Matsubara_frequencies$
50




